div.quadrado{
    display: inline-block;  
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
  
}

div#q1{
   background-image: url('./imagens/pattern001.png'); 
}

div#q2{
    background-image: url('./Imagens/pattern004.png');
}

div#q3{
    background-image: url('Imagens/pattern003.png');
}

body{
    background-image: url('./imagens/pattern002.png');
}