*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #7bc4e0;
}

.content {
    width: 500px;
    height: 130px;
    background-color: rgb(119, 119, 119);
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #0000002f;
    border-radius: 5px;
}

.title{
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding-top: 5px;
}

.subtitle {
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.button {
    height: 35px;
    width:120px;
    background-color: #1899cc;
    border: 1px solid #1899cc49;
    border-radius: 5px;
    margin-top: 20px;
}

.bt-title {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

.bt-title:hover {
    background-color: #168cbb;
}


.margin-top {
    margin-top: 8px;
}

.margin{
    margin: 2px;
}



.flex {
    display: flex;
    flex-direction: column;
}



