@charset "UTF-8";

:root{
    --cor0:#F1F1F1;
    --cor1:#55A6D9;
    --cor2:#0A37BF;
    --cor3:#0A2C59;
    --cor4:#287326;
    --cor5:#F2CB05;

--fonte-padrão: Arial,Helvetica,sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
min-height: 60px;
max-height: 150px;
}

header > h1 {
    text-align: center;
    background-color:var(--cor1);
    color: var(--cor0);
}

main{
background-color: rgb(177, 174, 174);
min-width: 300px;
max-width: 800px;
display: block;
margin: auto;
padding: 15px;
border-radius: 15px;

}

body{

}
footer{
    background-color: var(--cor1);
    padding: 100px;
    margin-top: 10px;
    text-align: center;
    color: rgb(207, 203, 203);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
    
    
}