#d1,#d2,#d3 {
    background-image: url(/Img/check.png);
    background-size: 10px;
    padding: 35px;
    margin: 50px;
    border: 10px dashed black;
}

#d1 {
    background-clip: border-box;
}

#d2 {
    background-clip: padding-box;
}

#d3 {
    background-clip: content-box;
}